<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Api_username" value="db83bceb4013a35d0e3994a7ff34024a"/>
    <add key="Api_password" value="fded156caa68ccd51e422a7962498f59"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>