<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="AppServerHost" value="172.18.1.11" />
    <add key="Name" value="DES" />
    <add key="SystemNumber" value="02" />
    <add key="Client" value="100" />
    <add key="User" value="proceso" />
    <add key="Password" value="FUJI2004" />
    <add key="PoolSize" value="20" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<connectionStrings><add name="myshopifyInterfaceEntities" connectionString="metadata=res://*/myshopifyInterfaceModel.csdl|res://*/myshopifyInterfaceModel.ssdl|res://*/myshopifyInterfaceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.243;initial catalog=myshopifyInterface;user id=sa;password=Fuji2015;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>