<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
<appSettings>
  <add key="AppServerHost" value="172.18.1.11"/>
  <add key="Name" value="DES"/>
  <add key="SystemNumber" value="02"/>
  <add key="Client" value="100"/>
  <add key="User" value="proceso"/>
  <add key="Password" value="FUJI2004"/>
  <add key="PoolSize" value="20"/>
  <add key="Tienda" value="Instax.com.mx"/>
  <add key="NumeroTienda" value="901085"/>
  <add key="Api_username" value="db83bceb4013a35d0e3994a7ff34024a"/>
  <add key="Api_password" value="fded156caa68ccd51e422a7962498f59"/>
  <add key="UrlOrdenes" value="https://db83bceb4013a35d0e3994a7ff34024a:fded156caa68ccd51e422a7962498f59@instax-mexico.myshopify.com/admin/orders.json"/>
  <add key="UrlTransacciones" value="https://db83bceb4013a35d0e3994a7ff34024a:fded156caa68ccd51e422a7962498f59@instax-mexico.myshopify.com/admin/orders/xxx/transactions.json"/>
</appSettings>
</configuration>